@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.main {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 40px 20px;
  margin: 0 auto;
}

.heading {
  font-size: 36px;
  line-height: 44px;
  color: #4e5150;
  margin-bottom: 50px;
}

.grid {
  display: flex;
}

.form {
  width: 100%;
}

.title {
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 15px;
}

.form-one {
  margin-bottom: 55px;
}

.label {
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
  margin-bottom: 6px;
}

.input-container {
  border: 1px solid #828282;
  border-radius: 12px;
  padding: 14px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.input-icon {
  color: #828282;
}

.input-field {
  font-size: 16px;
  color: #000;
  padding-left: 10px;
  border-width: 0px;
  outline-width: 0;
}

.input-field:placeholder {
  color: #828282;
}

.check {
  margin-top: 22px;
  display: flex;
  margin-bottom: 30px;
}

.check-box {
  margin-right: 7px;
}

.next {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.btn {
  float: right;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 17px 45px;
  background-color: #f2994a;
  border-radius: 12px;
  text-decoration: none;
  border: 1px solid #f2994a;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: #fff;
  color: #f2994a;
}

.cart {
  width: 100%;
}

.card {
  padding: 25px;
  background-color: #f2f2f2;
  border-radius: 12px;
  max-width: 380px;
  margin-left: auto;
}

.item {
  display: flex;
  width: 100%;
}

.product-img {
  max-width: 135px;
  width: 135px;
  height: 135px;
  margin-right: 20px;
  margin-bottom: 30px;
  border-radius: 12px;
}

.product-name {
  font-size: 16px;
  line-height: 20px;
  color: #4e5150;
  margin-bottom: 8px;
}

.desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 135px;
}

.price {
  font-size: 16px;
  line-height: 20px;
  color: #f2994a;
}

.regular {
  font-size: 12px;
  line-height: 15px;
  color: #4e5150;
  text-decoration-line: line-through;
  padding-left: 10px;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 15px 13px;
  border: 1px solid #828282;
  border-radius: 12px;
  width: 135px;
}

.fa-minus,
.fa-plus {
  color: #828282;
  padding: 4px;
  background-color: #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}

.value {
  font-size: 16px;
  color: #333333;
}

.last {
  margin-bottom: 90px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #bdbdbd;
}

.shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-text {
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.cart-price {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.bottom {
  color: #828282;
  text-align: center;
  margin-top: 40px;
}

.link {
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #828282;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.link:hover {
  color: #f2994a;
}

@media screen and (max-width: 851px) {
  .card {
    margin-left: 10px;
  }
  .product-image {
    width: 122px;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    flex-direction: column-reverse;
  }
  .card {
    margin-left: 0;
  }
  .cart {
    margin-bottom: 40px;
  }
  .heading {
    font-size: 24px;
  }
  .product-name {
    font-size: 12px;
  }
  .price {
    font-size: 14px;
  }
  .regular {
    font-size: 10px;
  }
  .cart-text {
    font-size: 14px;
  }
  .title {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .cart {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .counter {
    width: 100%;
    padding: 5px 10px;
  }
}
